.homer {
	width: 312.5px;
	height: 312.5px;
	background: url(homer.jpg) 0px 0px;
}

@media screen and (max-width: 1200px) { 
  	.homer {
  		background-position: 312.5px 0px;
  	}
}

@media screen and (max-width: 800px) {
 	.homer {
  		background-position: 0px 312.5px;
  	} 
}

@media screen and (max-width: 400px) { 
  	.homer {
  		background-position: 312.5px 312.5px;
  	}
}