* {
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#map {
	height: 100%;
}

.iwContent {
	width: 150px;
}

.iwStationName {
	padding: 0;
	margin: 0;
	font-size: 18px;
}

.iwLastUpdated {
	color: gray;
	margin: .2em 0;
	font-weight: normal;
}

.upcomingTrainItem {
	width:100%;
}

.upcomingTrainTime {
	float: right;
	color: gray;
}